<% include ./_header.ejs %>

<div>
	<p>
<<<<<<< HEAD
		<a href="/">Home</a>
		<a href="/pages/info">Info</a>
=======
		ABOUT PAGE: <br />
		...some static content
>>>>>>> c1.8
	</p>
</div>

<% include ./_footer.ejs %>
