<div>
	<h3>Create new item:</h3>
	<form method="POST" action="/items">
		<input type="text" name="id" required placeholder="id" /><br/>
		<input type="text" name="title" required placeholder="title" /><br/>
		<input type="text" name="artist" required placeholder="artist" /><br/>
		<input type="text" name="album" required placeholder="album" /><br/>
		<input type="hidden" name="mode" value="form"  />

		<input type="submit" value="Create" />
	</form>
</div>