<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <h3>Express: HELLO WORLD</h3>

        <ul>
          <li><a href="/login_page">Login</a></l1>
          <li><a href="/register_page">Register</a></l1>
          <li><a href="/secret_page">SECRET</a></l1>
          <li><a href="/secret_page_2">SECRET 2</a></l1>
        </ul>
      </div>
  </body>
</html>