<!DOCTYPE html>
<html lang="en">
  <%- include _head.ejs %>
  <body>
      <div class="container">
        <nav class="m-2">
          <a href="/">🏠 back to home</a>
        </nav>
        <div class="card card-body text-white <%= bg %>">
          <%= message %>
        </div>
        <br/>
        <h3>LOGIN</h3>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="token">Token</label>
            <input type="text" class="form-control" id="tokenFromUserForm" name="tokenFromUserForm" placeholder="Token">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </body>
</html>