<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <h3>SECRET</h3>

        Logged in user id: <%= username %>

        <ul>
          <li><a href="/logout">Logout</a></l1>
        </ul>

      </div>
  </body>
</html>