<!DOCTYPE html>
<html lang="en">
  <%- include _head.ejs %>
  <body>
      <div class="container">
        <nav class="m-2">
          <a href="/">🏠 back to home</a>
        </nav>
        <div class="card card-body text-white bg-primary">
          Logged in user
          <br/>
          Token expires at: <%= expiry %>
        </div>
        <br/><br/>
        <h5>
          I Token-based authentication is stateless, so the token is not
            saved between requests.
            <br/><br/>
            The moment the user goes away from this page (e.g home)
            and comes back, the route looks for the token again
            <br/><br/>
            Here we simulate any resource/route that
            user can access in the server.
            <br/><br/>
            A great improvement could be to store token in localStorage
            upon successful login, and delete from localStorage on logout
        </h5>
        <br/><br/>
        <h3>SECRET PAGE: "Never gonna give you up..."</h3>
        <br/><br/>
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>

      </div>
  </body>
</html>