html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 80%;
	margin: 20px auto;

	font-family: Arial, Helvetica, sans-serif;
}

.button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.button-container * {
	margin-right: 10px;
}

form {
	margin: 0;
}