<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/styles.css" type="text/css">
<h1>Users</h1>

<body>
	<ul>
		<% users.forEach(function(user) { %>
		<li>
			user <%= user.id %>:
			<ul>
				<li><%= user.name %></li>
				<li><%= user.email %></li>
				<li><%= user.phone %></li>
			</ul>
		</li>
		<% }); %>
	</ul>

	<a href="./users/new">New User</a>
</body>