<head>
	<meta charset="UTF-8">
	<title>Super Awesome Website</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/styles.css" type="text/css">
</head>


<body>
	<form method="post" action="/users">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" name="email" class="form-control" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="phone">Phone Number</label>
			<input type="text" name="phone" class="form-control" placeholder="Phone Number">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>