<h1>Sample usages of Twitter embed</h1>

<h3>Embed a tweet</h3>
<blockquote class="twitter-tweet">
	<p lang="en" dir="ltr">Hi I&#39;m Patrick Star</p>&mdash; The Bot of Lenny (@TheBotofLenny1) <a
		href="https://twitter.com/TheBotofLenny1/status/1262344402237874178?ref_src=twsrc%5Etfw">May 18, 2020</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h3>Embed a profile</h3>
<a class="twitter-timeline" href="https://twitter.com/TheBotofLenny1?ref_src=twsrc%5Etfw">Tweets by TheBotofLenny1</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>