<h1>Sign-in via Twitter</h1>
<!-- <a href="/request_token">sign in</a> -->
<h2>congrats , you have token now:</h2>
<pre>
	<!-- <%= message %> -->
</pre>
<br />
<a href="<%= redirect_url %>">Step 2: Redirect to Twitter to authorize there</a>

<h2>
	GET oauth/authorize
</h2>