<h1>sample frontend of sending requests after getting OAuth1 creds</h1>

<div id="app"></div>

<!-- embed OAuth1 authz variables to be used by the script -->

<script>
	const user_creds = JSON.parse(`<%- authorized_user_creds %>`)
</script>


<script src="./user_info.js"></script>