<h1>sample frontend of sending requests after getting OAuth1 creds</h1>

<div id="app"></div>

<script>
	console.log(`<%- user_timeline_info %>`)
</script>

<h2>results from backend fetch</h2>

<h3>User Timeline Info:</h3>
<pre>
	<%= user_timeline_info %>
</pre>
