<h1>
	Step4: Success in sending a Twitter API request
</h1>
<pre>
	<%= additional_message %>
</pre>

<h2>User info</h2>
<ul>
	<li>Name: <%= user_info.name %></li>
	<li>Screen name: <%= user_info.screen_name %></li>
	<img src="<%= user_info.profile_image_url %>" width="100" />
</ul>